body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121315;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.content-mobile {
  padding-left: 1rem;
  padding-right: 1rem;
  text-wrap: wrap;
}

.content-item {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-title {
  padding-bottom: 0.3125rem;
  font-size: 2.25rem;
  font-weight: bold;
}

.content-title-mobile {
  padding-bottom: 0.3125rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.content-description {
  padding-bottom: 0.3125rem;
  width: 100%;
  font-size: 1rem;
  text-align: justify;
}

.content-description-mobile {
  padding-bottom: 0.3125rem;
  width: 100%;
  font-size: 0.75rem;
  text-align: justify;
}

.content-source {
  padding-top: 0.3125rem;
  font-size: 0.875rem;
  text-align: center;
}

.content-source-mobile {
  padding-top: 0.3125rem;
  font-size: 0.5rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ce0505;
}
